.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10vh;
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    .profileImage {
      width: 100px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .content {
      font-size: 18px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}
