.header__wrapper {
  width: 100vw;
  height: 8vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
  .header__left {
    display: flex;
    margin-left: 10px;
    .header__title {
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
    .header__icon__bar {
      margin-right: 20px;
    }
  }
  .header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .search__box {
      position: relative;
      margin-right: 20px;
      input {
        width: 240px;
        height: 33px;
        padding-left: 14px;
        border: 1px solid #797979;
      }
      span {
        color: #797979;
        position: absolute;
        right: 10px;
        top: 10px;
        bottom: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .loginBox {
      display: flex;
      align-items: center;
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
      .loginBox__image {
        font-size: 25px;
        margin-right: 30px;
      }
      // .loginBox__username {
      //   font-size: 13px;
      // }
    }
  }
}
